<h1>Ten Thousand Push Ups</h1>

<table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Pushups</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>Alvin</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>45</td>
      </tr>
      <tr>
          <td><%= name %></td>
          <td><%= pushups %></td>
      </tr>
    </tbody>
</table>