
      <h1>Ten Thousand Push Ups</h1>
      <form method="POST" action="/">
          <label for="username">Your Name:</label>
          <input type="text" name="username" id="username" value="<%=email%>"/>
          <label for="pushups">Pushups Completed</label>
          <input type="number" name="pushups"/>
          <button class="btn btn-submit"type="submit">Submit your Pushups</button>
      </form>
